@use "../../styles/colors" as c;

.refSelector {
  display: inline-block;
  width: 0.8em;
  font-size: 1.2em;
  opacity: 0.1;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &[data-selected="true"] {
    color: c.$accent-blue;
    opacity: 1;
  }
}
