@use 'sass:color';
@use '../../styles/spacing' as s;
@use '../../styles/colors' as c;

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  height: s.$navbar-height;
  background-color: c.$red;
  box-shadow: 0 0 4px 1px color.change(c.$bg-black, $alpha: 0.6);
  z-index: 2;
}

.leftItems {
  display: flex;
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1;
    min-width: min-content;
    padding: 1rem;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
  }
}

.rightItems {
  display: flex;
  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1;
    min-width: max-content;
    padding: 1rem;
    overflow: hidden;
  }
}
