.textWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  line-height: 200%;
  font-size: 1.125rem;
}

.textLines {
  flex: 1 1 0;
  padding: 1rem;
  scroll-behavior: smooth;
  overflow-y: auto;
}
