@use "sass:color";
@use "../../styles/mixins" as m;
@use "../../styles/colors" as c;
@use "../../styles/spacing" as s;

.wrapper {
  display: flex;
  width: 100%;
  padding: 0.6em 0;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: s.$gap;
}

.messageBubble {
  width: 100%;
  padding: s.$chat-padding;
  background-color: c.$lighter-black;
  @include m.shadow;
  border-radius: 14px;
  border-top-left-radius: 0px;
}
